---
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout title="Reading List">
  <section id="books" class="books">

    <section>
      <h2>Computer Science</h2>
      <ul>
        <li><em>Operating Systems: Three Easy Pieces</em> by Remzi Arpaci-Dusseau and Andrea Arpaci-Dusseau</li>
        <li><em>Computer Networks: A Systems Approach</em> by Remzi Arpaci-Dusseau and Andrea Arpaci-Dusseau</li>
      </ul>
    </section>

    <section>
      <h2>Math</h2>
      <ul>
        <li><em>Advanced Calculus</em> by P.M. Fitzpatrick</li>
        <li><em>Partial Differential Equations: An Introduction</em> by Walter A. Strauss</li>
        <li><em>Introduction to Numerical Analysis</em> by Doron Levy</li>
      </ul>
    </section>

    <section>
      <h2>Other</h2>
      <ul>
        <li><em>Atomic Habits</em> by James Clear</li>
        <li><em>How to Win Friends and Influence People</em> by Dale Carnegie</li>
        <li><em>Mother of Learning</em> by Domagoj Kurmaic</li>
        <li><em>Cradle (Books 1-12)</em> by Will Wight</li>
      </ul>
    </section>
  </section>
</BaseLayout>
