---
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout title="Reading List">
  <section id="books" class="books">

    <section>
      <h2>Computer Science</h2>
      <ul>
        <li><a class="book-link" href="https://pages.cs.wisc.edu/~remzi/OSTEP/" target="_blank"><em>Operating Systems: Three Easy Pieces</em></a> by Remzi Arpaci-Dusseau and Andrea Arpaci-Dusseau</li>
        <li><a class="book-link" href="https://book.systemsapproach.org/" target="_blank"><em>Computer Networks: A Systems Approach</em></a> by Larry Peterson and Bruce Davie</li>
        <li><a class="book-link" href="https://www.amazon.com/Pointers-C-Kenneth-Reek/dp/0673999866" target="_blank"><em>Pointers on C</em></a> by Kenneth A. Reek</li>
      </ul>
    </section>

    <section>
      <h2>Math</h2>
      <ul>
        <li><a class="book-link" href="https://bookstore.ams.org/amstext-5" target="_blank"><em>Advanced Calculus</em></a> by P.M. Fitzpatrick</li>
        <li><a class="book-link" href="https://math24.wordpress.com/wp-content/uploads/2016/03/partial-differential-equations-by-w-a-s.pdf" target="_blank"><em>Partial Differential Equations: An Introduction</em></a> by Walter A. Strauss</li>
        <li><a class="book-link" href="https://www.math.umd.edu/~dlevy/resources/na.pdf" target="_blank"><em>Introduction to Numerical Analysis</em></a> by Doron Levy</li>
      </ul>
    </section>

    <section>
      <h2>Other</h2>
      <ul>
        <li><a class="book-link" href="https://jamesclear.com/atomic-habits" target="_blank"><em>Atomic Habits</em></a> by James Clear</li>
        <li><a class="book-link" href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/0671027034" target="_blank"><em>How to Win Friends and Influence People</em></a> by Dale Carnegie</li>
        <li><a class="book-link" href="https://www.amazon.com/dp/B09M2R6QLF?tag=r0b5d-20" target="_blank"><em>Mother of Learning</em></a> by Domagoj Kurmaic</li>
        <li><a class="book-link" href="https://www.amazon.fr/dp/B0753FP6SP?binding=kindle_edition&qid=1759907072&sr=8-1" target="_blank"><em>Cradle (Books 1-12)</em></a> by Will Wight</li>
      </ul>
    </section>
  </section>
</BaseLayout>
